@model EF.Core.Data.Machine

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>@Model.MachineNo</div>
    <div>@Model.MachineName</div>
    <div>@Model.OperationNo</div>
    <div>@Model.JitCellNo</div>
</body>
</html>
